@font-face{
	font-family: 'Avenir Heavy';
	src: url('../font/Avenir Heavy.ttf');
}
@font-face{
	font-family: 'Avenir Medium';
	src: url('../font/Avenir Medium.ttf');
}
@font-face{
	font-family: 'Avenir Book';
	src: url('../font/Avenir Book.ttf');
}
@font-face{
	font-family: 'Avenir Back';
	src: url('../font/Avenir Black.ttf');
}